.carousel_transition {
    position: relative;
    width: 100%;
    animation: 0.5s ct_left;
    animation-fill-mode: forwards;
}
@keyframes ct_left{
    from{left: 0px;}
    to{left: -960px;}
}
#whole_container{
    min-width: 960px;
    width:100%;
}
#carousel_container{
    width:960px;
}



.on_stop{
    width:640px;
    margin-top: 40px;
    margin:0 auto;

}