.carousel_transition {
    position: relative;
    width: 100%;
    animation: 0.5s ct_left;
    animation-fill-mode: forwards;
}
@keyframes ct_left{
    from{left: 0px;}
    to{left: -960px;}
}
#whole_container{
    min-width: 960px;
    width:100%;
}
#carousel{
    width:960px;
    margin-top: 40px;
    margin: 0 auto;
}


.on_stop{
    width:640px;
    left:160px;
    position: relative;
    height: 320px;
    bottom:200px;
    z-index: 1;
    background-size: cover;    
}
.left_stop{
    width: 400px;
    position: relative;
    top: 60px;
    height: 200px;
    background-size: cover;
}
.right_stop{
    width: 400px;
    position: relative;
    height: 200px;
    left:640px;
    bottom: 460px;
    background-size: cover;
}
.on_move_left{
    position: relative;
    animation: 1s on_move_left; 
    animation-fill-mode: forwards;
    z-index: 1;
    background-size: cover; 
}
@keyframes on_move_left{
    from{
        width:640px;
        left: 160px;
        bottom:200px;
        top:0px;
        height: 320px;
        }
    to{
        left: 0px;
        width:400px;
        top: 60px;
        bottom: 100px;
        height: 200px;
        }
}
.on_move_right{
    position: relative;
    animation: 1s on_move_right;
    animation-fill-mode: forwards;
    background-size: cover; 
}
@keyframes on_move_right{
    from{
        width:560px;
        left: 160px;
        bottom:200px;
        top:0px;
        height: 320px;
        }
    to{
        left: 640px;
        width:400px;
        top: 60px;
        bottom: 100px;
        height: 200px;
        }
}
.left_move_left{
    visibility: hidden;
}
.left_move_right{
    animation: 1s left_move_right;
    animation-fill-mode: forwards;
    position: relative;
    background-size: cover;
}
@keyframes left_move_right{
    from{
        left: 0px;
        width:400px;
        height: 200px;
        top:60px;
        }
    to{
        left: 160px;
        width:640px;
        height: 320px;
        top:120px;
        z-index: 2;
        }
}
.right_move_right{
    visibility: hidden;
}
.right_move_left{
    position: absolute;
    animation: 0.5s left_move_right;
    animation-fill-mode: forwards;
}
@keyframes left_move_right{
    from{
        lright: 0px;
        width:400px;
        height: auto;
        }
    to{
        margin:0 auto;
        width:640px;
        height: auto;
        }
}
#rightButton {
    width:10px;
    height: 10px;
    background-color: red;
}
#leftButton {
    width:10px;
    height: 10px;
    background-color: red;
}