.carousel_transition {
    position: relative;
    width: 100%;
    animation: 0.5s ct_left;
    animation-fill-mode: forwards;
}
@keyframes ct_left{
    from{left: 0px;}
    to{left: -960px;}
}
#whole_container{
    min-width: 960px;
    width:100%;
}
#carousel{
    width:960px;
    padding-top: 40px;
    margin: 0 auto;
    position: relative;
}


.on_stop{
    width:640px;
    left:160px;
    height: 320px;
    z-index: 1;
    background-size: cover; 
    position: relative;
    bottom: 260px; 
}
.left_stop{
    width: 400px;
    position: relative;
    height: 200px;
    background-size: cover;
}
.right_stop{
    width: 400px;
    position: relative;
    height: 200px;
    left:640px;
    bottom: 520px;
    background-size: cover;
}
.on_move_left{
    
    animation: 1s on_move_left; 
    animation-fill-mode: forwards;
    background-size: cover; 
    position: relative;
}
@keyframes on_move_left{
    from{
    width:640px;
    left:160px;
    height: 320px;
    z-index: 1;
    bottom: 60px; 
        }
    to{
    width:400px;
    left:0px;
    height: 200px;
    bottom: 0px; 
        }
}
.on_move_right{
    position: relative;
    animation: 1s on_move_right;
    animation-fill-mode: forwards;
    background-size: cover; 
}
@keyframes on_move_right{
    from{
        width:640px;
        left: 160px;
        bottom:260px;
        height: 320px;
        z-index: 1;
        }
    to{
        left: 640px;
        width:400px;
        bottom: 320px;
        height: 200px;
        }
}
.left_move_left{
    visibility: hidden;
}
.left_move_right{
    animation: 1s left_move_right;
    animation-fill-mode: forwards;
    position: relative;
    background-size: cover;
}
@keyframes left_move_right{
    from{
        left: 0px;
        width:400px;
        height: 200px;
        }
    to{
        left: 160px;
        width:640px;
        height: 320px;
        bottom: 40px;
        }
}
.right_move_right{
    visibility: hidden;
}
.right_move_left{
    position: relative;
    animation: 1s right_move_left;
    animation-fill-mode: forwards;
    background-size: cover;
}
@keyframes right_move_left{
    from{
    width: 400px;
    height: 200px;
    left:640px;
    bottom: 320px;
        }
    to{
    width: 640px;
    height: 320px;
    left:160px;
    bottom: 260px;
        }
}
#rightButton {
    width:10px;
    height: 10px;
    background-color: red;
}
#leftButton {
    width:10px;
    height: 10px;
    background-color: red;
}